{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "post-script"}}
<script>
	$('#home').addClass("mm-active");
</script>
{{end}}

{{define "main-heading"}}
<div class="u-sizeFill p-a-20 bg-wisteria">
	.main-heading
</div>
{{end}}

{{define "main-content"}}
<div class="u-sizeFill p-a-20 bg-alizarin">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut urna est. Nulla facilisi.
		Nulla hendrerit tellus ligula, in commodo nulla tempus a. Integer a mauris sem. Vivamus
		vel turpis blandit, ullamcorper neque a, auctor libero. Donec quis tempor ligula, vitae
		condimentum sapien. Praesent eleifend maximus mollis. Sed odio purus, placerat vel odio
		et, porttitor vehicula metus. Ut ultricies ante arcu, et feugiat ante fermentum eget.
		Aliquam rutrum ligula justo, ut pulvinar sem ultrices id.</p>

	<p>Fusce ultrices quam vitae turpis tincidunt, ut tempus ligula semper. Quisque nulla
		tellus, luctus eget tempor a, consequat id elit. Aenean consequat sapien sit amet
		posuere faucibus. Nullam convallis rutrum erat et malesuada. Curabitur sit amet suscipit
		ipsum. Donec et nisi tristique odio aliquet condimentum. Integer blandit sem a nunc
		consectetur, in dictum leo dictum. Nullam vel suscipit neque. Vestibulum ac egestas
		nisl.</p>

	<p>Donec non eros eget ante elementum mattis. Lorem ipsum dolor sit amet, consectetur
		adipiscing elit. Vivamus vitae orci aliquet, ultricies nunc a, pretium libero. Donec
		aliquam vehicula magna, vel iaculis neque fermentum a. Cras non ipsum purus. Curabitur
		volutpat enim scelerisque lectus hendrerit ullamcorper. Duis mattis ante vitae erat
		tincidunt suscipit. Suspendisse condimentum arcu porttitor tristique convallis. Proin
		sed nulla malesuada, sagittis ipsum non, molestie eros. Nunc congue egestas odio, eget
		scelerisque nulla convallis a. Donec porttitor ante id mi imperdiet eleifend. Aenean
		convallis bibendum gravida. Mauris laoreet felis sit amet diam ullamcorper molestie.
		Nulla lorem sem, hendrerit id iaculis id, volutpat quis justo. Vestibulum maximus arcu
		et nunc volutpat, in cursus ex ultrices.</p>

	<p>Donec non ligula quis enim efficitur sollicitudin. Nunc gravida tellus ut purus blandit
		semper. Suspendisse pulvinar, mauris quis suscipit sodales, sem lectus suscipit libero,
		nec sagittis neque nisi dignissim nulla. Phasellus nec mauris felis. Praesent cursus
		viverra lorem vitae feugiat. Vestibulum fermentum aliquam dictum. Cras porttitor, mauris
		pulvinar accumsan ultricies, libero dui aliquam purus, ac gravida ante elit id tellus.
		Donec ut volutpat erat, eu consectetur enim. Donec scelerisque massa ultrices turpis
		scelerisque commodo. Morbi mollis orci turpis, eu vehicula purus gravida eget.</p>

	<p>Pellentesque sit amet volutpat risus. Duis vitae orci neque. Lorem ipsum dolor sit amet,
		consectetur adipiscing elit. Aenean porttitor blandit urna, pulvinar ultricies odio
		iaculis at. Phasellus sollicitudin aliquet commodo. Phasellus sit amet ligula felis.
		Proin imperdiet, nulla at lacinia condimentum, lectus lorem feugiat erat, at feugiat
		elit sem id est. In quam dolor, sodales vitae nisi in, consectetur egestas diam.
		Suspendisse et sem tempor, mattis quam a, pulvinar mauris. Ut mauris odio, mollis id
		ipsum ut, tristique dignissim velit.</p>

	<p>Proin sit amet imperdiet justo. Curabitur et egestas ex. Nunc blandit aliquet sapien, sed
		elementum mi sollicitudin pulvinar. In a libero dapibus arcu pellentesque molestie.
		Interdum et malesuada fames ac ante ipsum primis in faucibus. In ligula diam, semper at
		rhoncus ac, lobortis ut sem. Maecenas ornare lorem magna, vel lobortis lectus euismod
		sit amet. Duis accumsan nisl id tempus facilisis. Praesent non ultrices est. Suspendisse
		non sagittis nisl.</p>

	<p>Aenean ornare dui at libero lobortis fringilla. Vestibulum varius nibh et varius congue.
		Nunc tristique imperdiet aliquam. Sed molestie nunc ullamcorper massa commodo
		condimentum. Morbi porta feugiat congue. Nulla vel ante ac dui sodales rutrum. Donec sed
		mattis tortor, sit amet lobortis lacus. Sed pellentesque erat gravida nisi pulvinar, ac
		finibus sapien egestas. Curabitur eleifend commodo leo vitae facilisis.</p>

	<p>Phasellus vitae mauris in turpis sodales iaculis. Mauris finibus, eros vel bibendum
		varius, velit ante fermentum felis, nec ultrices velit felis a velit. Lorem ipsum dolor
		sit amet, consectetur adipiscing elit. Ut eget tincidunt elit. Etiam iaculis tellus at
		suscipit venenatis. Morbi ut velit finibus, sodales metus nec, convallis sapien. Sed eu
		ipsum auctor, rutrum elit non, interdum ipsum. Aenean a rhoncus magna. Nulla hendrerit
		nulla sit amet eleifend eleifend. Nunc cursus odio a justo auctor, nec convallis dolor
		viverra. Donec eget condimentum est. Aenean quis tincidunt magna, a interdum tortor.
		Phasellus scelerisque nunc a risus ultricies, sed egestas lectus sollicitudin.</p>

	<p>Quisque sollicitudin turpis ut nibh venenatis egestas. Proin id ante dui. Aliquam nec
		efficitur ligula. Donec venenatis, tortor at molestie lacinia, quam neque malesuada
		neque, id vehicula risus elit id magna. Fusce lacus lorem, venenatis ut lectus tempus,
		blandit gravida diam. Ut quis elit sed quam sagittis commodo in in nunc. Curabitur
		lobortis est nibh, eu rhoncus augue vestibulum quis. Integer ac sem vulputate, pharetra
		tortor a, commodo arcu. Donec elementum elit aliquet ipsum dapibus, nec sodales metus
		mattis. Suspendisse sit amet dignissim urna. Nullam erat ligula, euismod in sollicitudin
		id, tincidunt eu erat. Nunc tincidunt sollicitudin eros non semper.</p>

	<p>Fusce viverra quam nulla, at varius felis volutpat ac. Mauris faucibus orci ut velit
		bibendum, et venenatis orci dictum. Class aptent taciti sociosqu ad litora torquent per
		conubia nostra, per inceptos himenaeos. Cras pulvinar cursus sem sit amet iaculis. In
		facilisis facilisis consectetur. Duis egestas, mi luctus hendrerit porttitor, ipsum
		libero pharetra mi, eget accumsan sem lorem ac nulla. Nullam id iaculis metus.
		Pellentesque a urna nisl. Etiam eu dignissim sapien, at pellentesque odio. Nulla varius
		metus non magna tempor faucibus.</p>

	<p>Suspendisse potenti. Mauris at accumsan turpis. Maecenas sapien eros, vestibulum vitae
		mollis finibus, viverra at tortor. Morbi scelerisque mauris nec est porta auctor. Donec
		eu rutrum tellus, sed vestibulum tortor. Phasellus neque nisl, finibus ut diam sit amet,
		congue rhoncus quam. Cras nec ligula libero. Proin at congue nisi.</p>

	<p>Praesent at erat vel nisl placerat mattis quis eu quam. Mauris non porta justo. Vivamus
		elit risus, commodo vel ante at, pretium ultricies sapien. Etiam dignissim rhoncus mi
		pharetra venenatis. Sed ac elit at erat commodo pulvinar sed a est. Mauris efficitur
		scelerisque consequat. Donec luctus sagittis eleifend. Pellentesque commodo lorem et
		dapibus volutpat. Nam eget orci id turpis elementum ullamcorper. Vestibulum ante ipsum
		primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum elit arcu,
		posuere eget arcu id, sollicitudin malesuada quam. Suspendisse at purus laoreet, rutrum
		sapien in, malesuada nunc.</p>

	<p>Ut eget sodales quam. Praesent vitae risus nec odio tincidunt sollicitudin quis at massa.
		Vestibulum nibh mi, ornare eget nibh id, consectetur dictum ex. Donec egestas bibendum
		augue at auctor. Nulla facilisi. Mauris id iaculis mi. Nunc ac tempor justo. Curabitur
		quis iaculis nunc. Nunc consequat ornare consectetur. Maecenas vitae gravida felis. In
		eleifend est pretium massa sollicitudin dictum. Pellentesque ac venenatis neque, eget
		sagittis purus.</p>

	<p>Duis aliquet gravida mauris, in venenatis enim tincidunt et. In congue suscipit ipsum ut
		tincidunt. Curabitur viverra arcu at enim tincidunt, sed aliquet libero condimentum.
		Praesent ipsum tortor, iaculis at rutrum ac, elementum id dui. Nulla nec ultricies
		tortor. Maecenas egestas auctor turpis in dictum. Integer condimentum blandit volutpat.
		Integer a arcu semper, aliquam justo vitae, aliquet felis. Etiam sed leo porttitor,
		pulvinar dui ac, mollis velit. Mauris pretium nibh nec eros venenatis, quis convallis
		ante malesuada. Curabitur odio nulla, euismod ornare nibh pulvinar, condimentum ultrices
		mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
		turpis egestas.</p>

	<p>Curabitur tortor dolor, feugiat sit amet risus nec, malesuada hendrerit turpis.
		Suspendisse potenti. In cursus cursus quam at porta. Nam at consectetur lectus. Nullam
		sit amet viverra urna, ultricies posuere nisl. Phasellus eget sem dolor. Integer
		lobortis scelerisque mi a consectetur. Nulla eget feugiat nulla, ac blandit leo.</p>
</div>
{{end}}

{{define "main-footer"}}
<div class="u-sizeFill p-a-20 bg-pumpkin">
	.main-footer
</div>
{{end}}
